


   
.completed {
    text-decoration: line-through;
  }
  body{
      background-image: url("https://img.freepik.com/premium-photo/list-written-notebook_102209-1050.jpg?w=996");
      background-repeat: no-repeat;
  background-size: cover;
  font-family: "Prata", serif;}